h1 {
    color: rgb(84, 158, 88);
    
  }


  body {
    background-color: rgba(200, 240, 220, 0.952);
    color: lightslategray;
    
    padding: 1rem 1rem;
    margin: 1rem 1rem
   }

   a {color: cornflowerblue}